/* reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(94, 185, 129);
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 16px;
}

@media (min-width: 400px){
  body{
    font-size: 18px;
  }
}

@media (min-width: 1024px){
  body{
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu{
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 9px 20px;
  transition: background-color .5s, color .5s;
}

.menu a:hover{
  background-color: rgb(38, 161, 161);
  color: rgb(164, 255, 243);

}
  
.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li {
  list-style: none;
}
  
a {
  color: teal;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;

}
  
.site-subtitle,
.site-title {
  text-align: center;
  color: whitesmoke;
}

.site-title {
  font-size: 4em;
  font-family: 'Major Mono Display', monospace;
}

.site-subtitle{
  font-family: 'DM Mono', monospace;
  line-height: 2.5em;
}
.contato,
.Projetos{
  padding: 2em;
  min-height: 100vh;
}
.contato h2,
.Projetos h2{
  font-family: 'Major Mono Display', monospace;
  line-height: 2.5em;
  margin-bottom: 2em;
}

.Projetos .grid {
  display: grid;
  gap: 2em;
}

@media (min-width:575px) {
  .Projetos .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width:836px) {
  .Projetos .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    align-content: center;
    height: calc(100vh - 4em - 30px - 2em);
  }
}

.Projetos figure {
  text-align: center;
}

.img-portfolio {
  width: 240px;
  height: 240px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
}

.img-portfolio:hover {
  transform:scale(1.3);
}

.contato a{
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 0.4s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.616); 
}

.contato .grid-icons{
  display: grid;
  text-align: center;
}

@media (min-width:300px) {
  .contato .grid-icons{
    grid-template-columns: 1;
    justify-content: center;

  }
}

@media (min-width:550px) {
  .contato .grid-icons{
    grid-template-columns: repeat(2, 8em);
  }
}

@media (min-width: 735px) {
  .contato .grid-icons{
    grid-template-columns: repeat(3, 8em);
  }
}

@media (min-width:1000px) {
  .contato .grid-icons{
    grid-template-columns: repeat(4,8em);
  }
}

@media (min-width:1336px) {
  .contato .grid-icons{
    grid-template-columns: repeat(5,8em);
  }
}