/* reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(184, 208, 193);
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 16px;
}

/* breakpoint */
@media (min-width: 400px){
  body{
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1024px){
  body{
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu{
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 9px 20px;
  transition: background-color .5s, color .5s;
}

.menu a:hover{
  background-color: rgb(38, 161, 161);
  color: rgb(164, 255, 243);

}
  
.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li {
  list-style: none;
}
  
a {
  color: teal;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;

}
  
.site-subtitle,
.site-title {
  text-align: center;
  color: rgb(62, 53, 53);
}

.site-title {
  font-size: 4em;
  font-family: 'Major Mono Display', monospace;
}

.site-subtitle{
  font-family: 'DM Mono', monospace;
  line-height: 2.5em;
}

.sobre,
.Projetos{
  padding: 2em;
  min-height: 100vh;
}

/* breakpoint */
@media(min-width: 1200px){
  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.Projetos h2{
  font-family: 'Major Mono Display', monospace;
  line-height: 2.5em;
  margin-bottom: 1.5em;

}

.sobre a{
  color:floralwhite;
  text-decoration: underline;
}

.sobre a:hover{
  color:teal;
}

/* breakpoint */
@media(min-width: 330px){
  .sobre .profile-image img{
    height: 275px;
    width: 275px;
  }
}

/* breakpoint */
@media(min-width: 490px){
  .sobre .profile-image img{
      height: 400px;
      width: 400px;
      float: right;
      margin-left: 20em;
  }
}

/* breakpoint */
@media(min-width: 830px){
  .sobre .profile-image img{
      height: 400px;
      width: 400px;
      float: right;
      margin-left: 2em;
  }
}

.sobre .profile-image img{
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.sobre p{
  font-family: 'DM mono', monospace;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  line-height: 1.4em;
  text-align: justify;
}

.sobre .english{
  font-weight: 700;
}

.Projetos .grid {
  display: grid;
  gap: 3em;
}

/* breakpoint */
@media(min-width:608px){
  .Projetos .grid{
    grid-template-columns: 240px 240px;
    justify-content: center;
    align-content: center;
    height: 100vh;
    color:rgb(255, 255, 255);
  }
}

@media(min-width:608px)
  and (min-height:320px){
    .Projetos .grid{
      height: max-content;
    }
}

/* breakpoint */
@media (min-width:920px)
    and (min-height:840px) {
  .Projetos .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    align-content: center;
    height: calc(100vh - 8em - 60px);
    background-color: black;
  }
}

@media (min-width:920px)
    and (min-height:720px)
    and (max-height:840px) {
  .Projetos .grid {
    grid-template-columns: repeat(3, 240px);
   height: 100vh;
    /* height: calc(100vh - 4em - 60px - 2em); */

    background-color: black;
  }
}


.Projetos figure {
  text-align: center;
}

.img-portfolio {
  height: 240px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.flip-card{
  perspective: 500px;
  height: 240px;
  width: 100%;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card:hover .card{
  transform: rotateY(180deg);

}

.card-front, 
.card-back {
  backface-visibility: hidden;
  top: 0;
  position: absolute;
  left: 0;
}

.card-back{
  background-color: white;
  color: black;
  height: 240px;
  width: 100%;
  transform: rotateY(180deg);

}

.card-back a{
  transform: translateY(+400%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato{
  padding: 2em;
  min-height: 50vh;
}

.contato a{
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 0.4s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.616); 
}

.contato .grid-icons{
  display: grid;
  text-align: center;
}

/* breakpoint */
@media (min-width:300px) {
  .contato .grid-icons{
    grid-template-columns: 1;
    justify-content: center;

  }
}

/* breakpoint */
@media (min-width:580px) {
  .contato .grid-icons{
    grid-template-columns: repeat(4, 6em);
  }
}

/* breakpoint */
@media (min-width: 735px) {
  .contato .grid-icons{
    grid-template-columns: repeat(4, 8em);
  }
}

